/* Gruvbox Dark colors */
:root {
    --bg:        #282828;
    --bg1:       #3c3836;
    --bg2:       #504945;
    --bg3:       #665c54;
    --bg4:       #7c6f64;
    --fg:        #ebdbb2;
    --red:       #cc241d;
    --green:     #98971a;
    --yellow:    #d79921;
    --blue:      #458588;
    --purple:    #b16286;
    --aqua:      #689d6a;
    --gray:      #a89984;
    --brgray:    #928374;
    --brred:     #fb4934;
    --brgreen:   #b8bb26;
    --bryellow:  #fabd2f;
    --brblue:    #83a598;
    --brpurple:  #d3869b;
    --braqua:    #8ec07c;
    --orange:    #d65d0e;
    --brorange:  #fe8019;
}

/* --- Global defaults --- */
* {
    font-family: "JetBrains Mono";
    font-size: 12px;
    font-weight: bold;
    color: var(--fg);
    background-color: var(--bg);
}

/* --- General settings --- */
.yasb-bar {
    background-color: var(--bg);
}

.widget-container {
    background-color: var(--bg2);
    border-radius: 6px;
}

.widget {
    background-color: var(--bg2);
    margin: 4px;
    padding: 2px;
    border-radius: 6px;
}

.icon {
    background-color: var(--bg2);
    font-size: 14px;
    margin: 0px;
}

/* --- Modules --- */
.glazewm-workspaces .ws-btn {
    color: var(--fg);
    width: 24px;
    padding: 4px;
}
.glazewm-workspaces .ws-btn.active_populated,
.glazewm-workspaces .ws-btn.active_empty {
    background-color:var(--orange);
}

.cpu-widget .label {
    background-color: var(--bg2);
    margin: 0px 4px;
}
.cpu-widget .icon {
    background-color: var(--bg2);
    font-size: 14px;
    margin: 0px 4px 0px 4px;
}
.gpu-widget .label {
    background-color: var(--bg2);
    margin: 0px 4px;
}
.gpu-widget .icon {
    background-color: var(--bg2);
    font-size: 14px;
    margin: 0px 4px 0px 4px;
}
.memory-widget .label {
    background-color: var(--bg2);
    margin: 0px 4px;
}
.memory-widget .icon {
    background-color: var(--bg2);
    font-size: 14px;
    margin: 0px 4px 0px 4px;
}

.active-window-widget .label {
    background-color: var(--bg2);
    margin: 0px 2px 0px 0px;
}

.active-window-widget .icon {
    margin: 0px 2px 0px 4px;
}
